<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Breaking News</title>
</head>
<body>
    <div class="title"><h1 class="headline-main"> <%= titlePage %> News</h1></div>

    <div class="navbar">
        <a href="/news/page/1"><h3>Latest News</h3></a>
        <a href="/breaking-news"><h3>Breaking News</h3></a>
        <a href="/news"><h3>Countries</h3></a>
        
    </div>
    <% if (articles.length === 0) { %>
        <div style="margin: 30px 0;text-align: center;font-size: 1.4rem;" class="main-item item">
            <p>There are no breaking news within the last 14 days.</p>
        </div>
    <%} else { %>
        <% for(var i=0; i <= articles.length -1 ; i++) {%>
            <div style="margin: 30px 0;" class="main-item item">
                <h3> <%= articles[i].title %> </h3>
                <p> <%= articles[i].description %> </p>
                <p class="article-date"> <%= articles[i].date.slice(0, 10) %> | Category: <%= articles[i].category %> </p>
            </div>
        <% } %>
    <% } %>
</body>
</html>