<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Country News</title>
</head>
<body>

    <div class="title"><h1 class="headline-main"> <%= titlePage %> News</h1></div>

    <div class="navbar">
        <a href="/news/page/1"><h3>Latest News</h3></a>
        <a href="/breaking-news"><h3>Breaking News</h3></a>
        <a href="/news"><h3>Countries</h3></a>
        
    </div>

    <div>
        <% for(var i=0; i < fourArticles.length -1; i++) {%>
            <div style="margin: 30px 0;" class="main-item item">
                <h3> <%= fourArticles[i].title %> </h3>
                <p> <%= fourArticles[i].description %> </p>
                <p class="article-date"> <%= fourArticles[i].date.slice(0, 10) %> | Category: <%= fourArticles[i].category %> </p>
            </div>
         <% } %>
    </div>
    
</body>
</html>